<%= form_for @presentation do |f| %>
  <% if @presentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@presentation.errors.count, "error") %> prohibited this presentation from being saved:</h2>

      <ul>
      <% @presentation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="control-group">
    <%= f.label :description, "Description (optional)" %>
    <%= f.text_area :description, :class => "input-xlarge", :rows => "3" %>
  </div>
  <div class="actions">
    <%= f.submit "Proceed", :class => "btn btn-large btn-success"%>
  </div>
<% end %>
