<h1>My presentations <%= link_to 'New Presentation', new_presentation_path, :class => "btn btn-success btn-large" %> </h1>
<br/>
<p id="notice"><%= flash[:notice] %></p>

<div class="row-fluid">
<% @presentations.each do |presentation| %>
      <div class="span3">
        <div class="thumbnail well">
          <div class="caption">
            <h4><%= presentation.name %></h4>
            <p><%= presentation.description %></p>
            <p>
              <% if not mobile_device? %>
                <%= link_to 'View', presentation.url, :class => "btn btn-info" %>
                <%= link_to 'Edit', edit_presentation_path(presentation), :class => "btn" %>
              <% else %>
                <%= link_to 'Control', control_presentation_path(presentation), :class => "btn btn-primary" %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
<% end %>
</div>
<br />


