<!DOCTYPE html>
<html>
<head>
  <title>SlideCTRL</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
  <div class="container">
  <div class="navbar">
      <div class="navbar-inner">
        <div class="container" style="width: auto;">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">SlideCTRL</a>
          <div class="nav-collapse">
            <ul class="nav">
              <% if not user_signed_in? %>
              <li class="active"><a href="/">Home</a></li>
              <% else %>
              <li class="btn-primary">
                <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
              </li>
            </ul>
            <% end %>
          </div><!-- /.nav-collapse -->
        </div>
      </div><!-- /navbar-inner -->
    </div><!-- /navbar -->

    <section>
      <%= yield %>
    </section>
  </div>

</body>
</html>
